<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title plang="fr">Tout ce que je sais sur la chemise. - Damien Chesneau</title>
    <title plang="en">All I know about the shirt. - Damien Chesneau</title>
    <meta plang="fr" name="description" content="Tout de que je sais sur la chemise.">
    <meta plang="en" name="description" content="All I know about the shirt.">
    <meta name="author" content="Damien Chesneau">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="SHORTCUT ICON" href="https://secure.gravatar.com/avatar/615d30be9faf7e704fe7a1a7c923199d/24">

    <link rel="stylesheet" href="../../../blog-common/css/base.css">
    <link rel="stylesheet" href="../../../blog-common/css/vendor.css">
    <link rel="stylesheet" href="../../../blog-common/css/main.css">
    <script src="../../../blog-common/js/modernizr.js"></script>
    <script src="../../../blog-common/js/jquery-3.2.1.min.js" defer></script>
    <script src="../../../blog-common/js/plugins.js" defer></script>
    <script src="../../../blog-common/js/main.js" defer></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47421440-1"></script>
    <script src="../../../js/ganalytics.js"></script>
</head>
<body>
<div id="preloader">
    <div id="loader" class="dots-fade">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div id="top" class="s-wrap site-wrapper">
    <div class="s-content content">
        <main class="row content__page">
            <article class="column large-full entry format-standard">
                <div class="media-wrap entry__media">
                    <div class="entry__post-thumb">
                        <img src="../../../blog-common/all-I-know-about-shirt/head.jpg"
                             srcset="../../../blog-common/all-I-know-about-shirt/head.jpg 20000w,
                                     ../../../blog-common/all-I-know-about-shirt/head.jpg 2000w"
                             sizes="(max-width: 20000px) 2000vw, 20000px" alt="">
                    </div>
                </div>

                <div class="content__page-header entry__header">
                    <h1 plang="fr" class="display-1 entry__title" name="title">Tout ce que je sais sur la chemise.</h1>
                    <h1 plang="en" class="display-1 entry__title" name="title">All I know about the shirt.</h1>
                    <ul class="entry__header-meta">
                        <li plang="fr" class="author">Par
                            <img style="height: 20px; width: 20px; display: inline; margin-bottom: -4px; margin-left: 7px;"
                                 alt="Profile picture"
                                 src="https://secure.gravatar.com/avatar/615d30be9faf7e704fe7a1a7c923199d/75"/>
                            <a href="/">Damien Chesneau</a>
                        </li>
                        <li plang="en" class="author">By
                            <img style="height: 20px; width: 20px; display: inline; margin-bottom: -4px; margin-left: 7px;"
                                 alt="Profile picture"
                                 src="https://secure.gravatar.com/avatar/615d30be9faf7e704fe7a1a7c923199d/75"/>
                            <a href="/">Damien Chesneau</a>
                        </li>
                        <li plang="fr" class="date" name="date">11 septembre 2019</li>
                        <li plang="en" class="date" name="date">September 11 2019</li>
                        <li class="cat-links">
                            <a plang="fr" href="#0">Chemise</a>
                            <a plang="en" href="#0">Shirt</a>
                            <a plang="fr" href="#0">Vêtements</a>
                            <a plang="en" href="#0">Clothes</a>
                        </li>
                    </ul>
                </div> <!-- end entry__header -->
                <div class="entry__content">

                    <p plang="fr" class="lead drop-cap">Ce poste sera construit et publié en plusieurs temps, la date de
                        mise à jour sera ajoutée à chaque ajout :) </p>
                    <p plang="en" class="lead drop-cap" id="firstp">This post will be built and publish in differents
                        times, the update date will be added with each addition :)</p>

                    <h2 plang="fr" class="lead">1- Le tissu</h2>
                    <h2 plang="en" class="lead">1- The fabric</h2>

                    <p plang="fr" class="lead">Comme pour les costumes, avec les tissus des chemises on a la finesse du
                        fil qui entre en ligne de compte pour sa qualité, ainsi on peut avoir des notations comme 50/1,
                        80/2, 140/2 le premier qualifie la finesse du tissu et le second le nombre de retords,
                        c’est-à-dire le nombre de fois que le fil est tordu sur lui-même.</p>
                    <p plang="en" class="lead">Like for suits, with the shirts fabrics finesse we have the
                        fineness of the yarn which is taken into account for its quality, so we can have a notation like
                        50/1, 80/2, 140/2 the first one qualify the fabric finesse and the second number qualify the
                        number of twists, that is the number of times the thread is twisted on itself.</p>

                    <p plang="fr" class="lead">Car en réalité, plus la finesse du fil est élevée plus la chemise sera
                        fragile. Donc on tord le fil plusieurs fois sur lui-même deux fois pour un “double retords” pour
                        que ce fil très fin soit quand même résistant. Il existe même le triple retords, sur des
                        chemises hauts de gamme. Cela donne aussi une chemise plus épaisse et donc moins
                        transparente.</p>
                    <p plang="en" class="lead">Because in reality, more the finesse of the thread is high more
                        the shirt will be fragile. So we twist the thread multiple time on itself, tow times for a
                        “double twists” to ensure that this really fine thread will even be durable. There is even the
                        triple twists, on high-end shirts. That gives also a shirt thicker and therefore less
                        transparent.</p>

                    <p plang="fr" class="lead">Bien entendu plus on a des nombres élevés, plus le prix du tissu le sera
                        aussi. La valeur intéressante pour un bon compromis est aux alentours des 100/2-120s/2.</p>
                    <p plang="en" class="lead">Of course the higher the numbers are, more the price of the
                        fabric will also be too. The interesting value for a good compromise is around 100/2-120/2.</p>

                    <p plang="fr" class="lead">La popeline : L’un des tissus les plus commun pour les chemises
                        formelles, son nom provient de la ville papale d’Avignon d'où le tissu a été inventé. Il peut
                        être composé de laine, coton, soie et même de polyester. Ce tissu est totalement lisse. </p>
                    <p plang="en" class="lead">Poplin: One of the most common fabrics for formal shirts, Its
                        name comes from the papal city of Avignon where the fabric was invented. It can be made of wool,
                        cotton, silk and even polyester. This fabric is totally smooth.</p>

                    <p plang="fr" class="lead">Fil à Fil : ce n’est simplement qu’une déclinaison de la popeline avec un
                        fil de différentes couleurs afin de donner une autre teinte au tissu.</p>
                    <p plang="en" class="lead">Fil à Fil: This is simply a variation of the poplin with a yarn
                        of different colors to give another shade to the fabrics.</p>

                    <p plang="fr" class="lead">L’oxford est un tissu plus épais que la popeline et avec un touché moins
                        lisse. Le fil de ce tissu est tissé deux par deux. Ce tissu à deux déclinaisons la classique et
                        le pinpoin cette dernière est plus fine et donc plus légère.</p>
                    <p plang="en" class="lead">Oxford is thicker than poplin and has a smoother feel. the
                        thread of this fabric is woven two by two. This fabric with two variations the classic and
                        pinpoin the latter is thinner and therefore lighter.</p>

                    <p plang="fr" class="lead">Le twill est un tissu facilement reconnaissable par ses rayures obliques
                        c’est un tissu très simple à repasser, qui froisse peu et aussi très opaque. Le fil de se décale
                        à chaque rang ce qui donne ces rayures. Il existe une déclinaison qui est le twill à chevron qui
                        consiste à alterner les rangs de rayures.</p>
                    <p plang="en" class="lead">Twill is a fabric easily recognizable by its oblique stripes it
                        is a very simple fabric ironing, which crumples little and also very opaque. The thread is
                        shifted to each row which gives these stripes. There is a declination which is the chevron twill
                        which consists of alternating rows of stripe.</p>

                    <p plang="fr" class="lead">Le lin, il s'agit ici de la fibre naturelle issu de culture. C’est un
                        tissu naturel qui est un bon isolant l’hiver et très respirant l’été. Ce tissu est plutôt adapté
                        aux grandes chaleurs. L'inconvénient est seulement qu’il se froisse automatiquement, il faut
                        donc savoir apprécier cette caractéristique et avoir de bonnes compétences en repassage.</p>
                    <p plang="en" class="lead">Linen, this is the natural fiber from culture. It is a natural
                        fabric that is a good insulator in the winter and very breathable in the summer. This fabric is
                        rather suitable for hot weather. The disadvantage is only that it creases automatically, so you
                        have to know appreciate this feature and have good ironing skills.</p>

                    <p plang="fr" class="lead">Le Giro Inglese est le tissu le plus intéressant quand il commence à
                        faire chaud. En effet son tissage simple, est aérée ce qui permet à l’air de passer entre. C’est
                        un tissu qui est plutôt solide, durable et simple à repasser.</p>
                    <p plang="en" class="lead">The Giro Inglese is the most interesting fabric when it starts
                        to get hot. Indeed its simple weave, is ventilated which allows the air to pass between. It is a
                        fabric that is rather strong, durable and easy to iron.</p>

                    <h2 plang="fr" class="lead">2 - Le col</h2>
                    <h2 plang="en" class="lead">2 - The collar</h2>

                    <p plang="fr" class="lead">Avant de rentrer en détail de la liste de tous les cols existant, nous
                        allons parler de la baleine. C'est un petit bout de matière que l'on place à la pointe du col
                        afin qu'il soit bien rigide et qu'il reste bien lisse particulièrement sur les chemises
                        formelles. Elle peut être en plastique bien souvent quand on l'achète, ou bien nous pouvons
                        opter pour des baleines en fer ou nacre qui tiennent mieux dans le temps. En fonction des
                        marques ou des modèles vous pouvez les avoir déjà intégrées au col ce qui permet de ne pas avoir
                        à s'en occuper au moment du lavage, mais en général elles sont moins rigides que s’ils étaient
                        amovibles. Dans le cas des baleines amovibles vous avez bien souvent une baleine plus rigide et
                        donc un col plus lisse et surtout la possibilité de les changer quand elles vont s'user ou
                        simplement de placer différents types de baleine (fer, nacre, corne…). La baleine permet aussi
                        que le col puisse rester bien tendu afin qu’il reste bien collé au corps et de ne pas avoir
                        d'espace entre eux deux.</p>
                    <p plang="en" class="lead">Before going into detail of the list of all the existing collars. We will
                        talk about the collar stays. This is a small piece of material that is placed at the tip of the
                        collar so that it stay very rigid and remains very smooth especially on formal shirts. It can be
                        plastic often when you buy it, or we can opt for collar stays in iron or mother of pearl that
                        hold better in time. Depending on the brands or models you can have them already integrated in
                        the collar which allows not to have to deal with it at the time of washing, but in general they
                        are less rigid than if they were removable. In the case of removable collar stays you often have
                        a more rigid collar stays and therefore a smoother collar and especially the ability to change
                        them when they will be worn out or simply to place different types of collar stays (iron, mother
                        of pearl, horn...). The collar stays also allows the collar to remain well tensioned so that it
                        stays perfectly attached to the body and to have no space between them.</p>

                    <p plang="fr" class="lead">La rigidité du col est importante pour les chemises formelles, cela
                        permet au col de rester bien droit pendant la journée et de ne pas se plier. Plus on a de
                        triplure plus le col devient rigide. Comme sur les costumes cette triplure peut être
                        thermocollée, c'est-à-dire que de la colle va être utilisé afin de lier les tissus entre eux et
                        ainsi aller plus vite pendant la fabrication. Dans le cas d'un col non-thermocollé, les
                        différents bouts de tissus sont cousus entre eux. Cette dernière technique est plus durable car
                        au fil du temps, la colle peut se dissoudre et former des boursouflures.</p>
                    <p plang="en" class="lead">The rigidity of the collar is important for formal shirts, this allows
                        the collar to stay upright during the day and not to bend. More triplure we have in the collar
                        more the collar becomes rigid. As on the suits this triplure can be thermobonded, that is to say
                        that glue will be used to fix the fabrics between them and thus go faster during the
                        manufacturing. In the case of a non-thermobonded collar, the different fabrics are woven
                        together. This last technique is more durable over time, the old glue can dissolve and form
                        blisters.</p>

                    <p plang="fr" class="lead">Il existe aussi une finition de chemise avec le col entièrement blanc sur
                        une chemise rayée blanche ou de toute autre couleur.</p>
                    <p plang="en" class="lead">There is also a shirt finish with the collar all white on a white striped
                        shirt or any other color.</p>

                    <p plang="fr" class="lead">Il existe différents types de cols, Italien, Français, Anglais,
                        Américain, club, Cutaway, semi-Cutaway, Napolitain, Officier, Officier carré, boutonné, Boutonné
                        sous patte, Requin, Miami, classique, classique deux boutons, Lucknow Inversé, cassé.</p>
                    <p plang="en" class="lead">There are different types of passes, Italian, French, English, American,
                        Club, Cutaway, mid-Cutaway, Napolitan, Officer, Square, Buttoned, Buttoned under paw, Camp,
                        Miami, Classic, Classic tow buttons, Invesed Lucknow, and Broken.
                    </p>

                    <p plang="fr" class="lead">L'italien est l'un des cols les plus courants pour une chemise, il est
                        assez haut et large et il permet d'être porté avec ou sans cravate ce qui permet d'être utilisé
                        dans toute occasion.</p>
                    <p plang="en" class="lead">Italian is one of the most common collars for a shirt, it is quite high
                        and wide and can be worn with or without a tie which can be used in any occasion.</p>

                    <p plang="fr" class="lead">Le français possède lui une ouverture bien plus petite que l'Italien.
                        C'est un modèle qui reste très classique, mais qui impose si une cravate est présente à avoir un
                        nœud plus petit.</p>
                    <p plang="en" class="lead">French has a much smaller opening than the Italian. It is a model that
                        remains very classic, but that imposes if a tie is present to have a smaller knot.</p>

                    <p plang="fr" class="lead">L'anglais est lui un peu plus spécifique, car il impose le port d'une
                        cravate. C'est un col qui possède deux boutons pour se renfermer. Un bout de matière est rajouté
                        au-dessus du bouton le plus bas. Ce qui permet à la cravate d'être un peu plus haute. La largeur
                        du col est assez courte pour ne pas avoir d'espace avec la cravate. Il existe aussi une
                        variante, avec les pointes rondes. Moins courant, un col appelé Pin-Collar est du type anglais.
                        Au lieu d'avoir un petit bout de matière pour relever la cravate, c'est une pièce assez fine et
                        longue en métal qui permet de remonter la cravate. Elle relie les deux côtés du col et est
                        fermée par des petits bouts souvent ronds.</p>
                    <p plang="en" class="lead">The English is a little more specific because it requires the wearing of
                        a tie. It is a collar that has two buttons to lock. A piece of fabric is added above the lowest
                        button. This allows the tie to be a little higher. The width of the collar is calculated to be
                        short enough to have no space with the tie. There is also a variant, with round tips. Less
                        common, a collar called Pin-Collar is of the English type. Instead of having a small piece of
                        fabric to lift the tie, it is a pretty thin and long piece of metal that push the tie upper. It
                        connects both sides of the collar and is closed by small round ends.</p>

                    <p plang="fr" class="lead">L'américain est lui aussi assez spécial, il possède des boutons sur les
                        pointes qui sont souvent assez longues. C'est un col très utilisé pour des chemises
                        décontractées bien qu'elles puissent être porté avec une cravate. Le col boutonné sous patte
                        aussi appelé col washington est un peu plus formel que le col américain classique car ses
                        boutons sont caché en dessous du tissu.</p>
                    <p plang="en" class="lead">The American is also quite special, he has buttons on the points that are
                        also often quite long. It is a very used collar for casual shirts that can be worn with a tie.
                        Buttoned collar also called Washington collar are a little more formal than the classic because
                        his buttons are hidden under the fabric.</p>

                    <p plang="fr" class="lead">Le requin, est un col assez différent, en effet il est totalement à plat,
                        sans la hauteur dont nous sommes habitués pour une chemise. Ici il n'y a pas de triplure, il est
                        fait pour être à plat. Il est aussi fait pour être posé au-dessus de la veste.</p>
                    <p plang="en" class="lead">The Camp, is a pretty different collar, indeed it is totally flat,
                        without the height of which we are accustomed for a shirt. Here there is no lining, it is made
                        to be flat. It is also made to be placed above the jacket.</p>

                    <p plang="fr" class="lead">Pour le miami on peut facilement penser qu'il n'est qu'une déclinaison
                        plus décontractée du col américain. C'est vrai qu'il possède les mêmes boutons au bout des
                        pointes. Il lui manque seulement sa rigidité et son bouton ce qui rendra impossible le port
                        d'une cravate.</p>
                    <p plang="en" class="lead">For Miami it can easily be thought that it is only a more relaxed version
                        of the American collar. It's true that he has the same buttons at the ends of the tips. It only
                        lacks its rigidity and its button which will make it impossible to wear a tie.</p>

                    <p plang="fr" class="lead">Le Lucknow est un col dont les deux parties de tissus sont collés entre
                        elles. C'est souvent un col de petite taille qui ne permet pas de porter une cravate. Il existe
                        une version de celui-ci qui est inversé c'est-à-dire que les deux parties de tissu seront
                        totalement cousus en bas.</p>
                    <p plang="en" class="lead">The Lucknow is a collar whose two parts of fabric are glued together. It
                        is often a small collar that does not allow to wear a tie. There is a version of it that is
                        reversed that is to say that the two parts of fabric are fully stitched.</p>

                    <p plang="fr" class="lead">Le col cassé est très formel, avec celui-ci impossible de ne pas un nœud
                        papillon. Il est assez petit avec deux très petites pointes qui débutent uniquement sur le
                        devant du col.</p>
                    <p plang="en" class="lead">The broken collar is very formal, with this one impossible to not wear a
                        bowtie. It is quite small with two very small tips that start only on the front of the
                        collar.</p>

                    <h2 plang="fr" class="lead">3 - Le poignet</h2>
                    <h2 plang="en" class="lead">3 - The wrist</h2>
                    <p plang="fr" class="lead">Bientôt. </p>
                    <p plang="en" class="lead">Soon.</p>

                    <p class="entry__tags">
                        <span>Tags</span>
                        <span class="entry__tag-list">
                                <a plang="fr" href="#0">Chemise</a>
                                <a plang="en" href="#0">Shirt</a>
                                <a plang="fr" href="#0">Vêtements</a>
                                <a plang="en" href="#0">Clothes</a>
                        </span>
                    </p>
                </div> <!-- end entry content -->
                <div class="entry__related">
                    <div id="disqus_thread"></div>
                </div> <!-- end entry related -->
            </article> <!-- end column large-full entry-->
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = "https://en.damienchesneau.fr/blog/all-I-know-about-shirt";  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = 'all-I-know-about-shirt'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://https-damienchesneau-fr.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();


            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                by Disqus.</a></noscript>
    </div> <!-- end comments-wrap -->
    </main>
</div> <!-- end s-content -->
<footer class="s-footer">
    <div class="row">
        <div class="column large-full footer__content">
            <div class="footer__copyright">
                <span id="copyright">© Copyright Damien Chesneau</span>
                <span plang="en" id="switch-lang">Voir en <a
                        href="../../../fr/blog/all-I-know-about-shirt/">Français</a></span>
                <span plang="fr" id="switch-lang">View in <a href="../../../en/blog/all-I-know-about-shirt/">English</a></span>
            </div>
        </div>
    </div>
    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>
</footer>
</div>
</body>
</html>