html {
    height: 100%;
}
body {
    background: #a7bfe0;
    min-height: 100%;
}

h2 {
    font-size: 12px;
    margin: 20px 0 15px 0 !important;
    line-height: 1;
}
.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}
hr {
    height: 0;
    border: 0;
    border-top: 1px solid #ebebeb;
    margin: 20px 0 10px 0;
}

#main {
    background: #FFF;
    width:  333px;
    height: 375px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    z-index: 3;
}
#main2 {
    background: #FFF;
    width:  500px;
    height: 500px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    z-index: 3;
}
#blurb {
    height: 75px;
    position: relative;
}

#blurb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
}

#blurb div {
    position: absolute;
    top: 0;
    left: 95px;
}

#blurb h1 {
    font-size: 18px;
    margin: 5px 0 5px 0;
    line-height: inherit;
}

#blurb p {
    margin: 3px 0 6px 0;
    color:  #535559;
    line-height: inherit;
}

#blurb span {
    color: #5070d1;
    text-decoration: underline;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#mapOverlay {
    background: #fffff1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.twipsy {
    line-height: 18px;
}


#linksPane ul {
    padding: 0;
}
#linksPane li {
    list-style: none;
    display: block;
    margin-bottom: 10px;
}

#linksPane a {
    border: 1px solid #bbbbbb;
    color: #515151;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 100%;
    height: 31px;
    line-height: 31px;
    text-indent: 40px;
    position: relative;
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #e9e9e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7f7f7 0%,#e9e9e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#e9e9e9 100%); /* IE10+ */
    background: linear-gradient(top,  #f7f7f7 0%,#e9e9e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.10);
    box-shadow: 0 1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.10);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#linksPane a:hover {
    color: #262626;
    border-color: #a5a5a7;
    -webkit-box-shadow: 0 1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.20);
    box-shadow: 0 1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.20);
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

#linksPane .icon {
    display: block;
    width: 31px;
    height: 31px;
    background-image: url(../../img/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 10;
}

#linksPane .iconHover {
    display: block;
    width: 31px;
    height: 31px;
    background-image: url(../../img/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 11;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

#linksPane a:hover .iconHover { opacity: 1; }

#linksPane .email .icon 								{ background-position: 0 0; }
#linksPane .email .iconHover 					{ background-position: -31px 0; }
#linksPane .twitter .icon 								{ background-position: 0 -31px; }
#linksPane .twitter .iconHover 					{ background-position: -31px -31px; }
#linksPane .github .icon 								{ background-position: 0 -62px; }
#linksPane .github .iconHover 					{ background-position: -31px -62px; }
#linksPane .dribbble .icon 							{ background-position: 0 -93px; }
#linksPane .dribbble .iconHover 					{ background-position: -31px -93px; }
#linksPane .tumblr .icon 								{ background-position: 0 -124px; }
#linksPane .tumblr .iconHover 					{ background-position: -31px -124px; }
#linksPane .linkedin .icon 								{ background-position: 0 -155px; }
#linksPane .linkedin .iconHover 					{ background-position: -31px -155px; }
#linksPane .facebook .icon 							{ background-position: 0 -186px; }
#linksPane .facebook .iconHover 				{ background-position: -31px -186px; }
#linksPane .fancybox .icon 								{ background-position: 0 -124px; }
#linksPane .fancybox .iconHover 					{ background-position: -31px -124px; }




#openMap {
    position: absolute;
    top: 13px;
    left: 13px;
    z-index: 10;
    font-size: 12px;
    color: #a2a19a;
    font-weight: bold;
    border: 1px solid #cfcec7;
    padding: 8px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.75);
    opacity: 0.8;
    background: #f8f7ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8f7ea 0%, #efeee2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f7ea), color-stop(100%,#efeee2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8f7ea 0%,#efeee2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8f7ea 0%,#efeee2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8f7ea 0%,#efeee2 100%); /* IE10+ */
    background: linear-gradient(top,  #f8f7ea 0%,#efeee2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f7ea', endColorstr='#efeee2',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.75) inset, 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.75) inset, 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,0.75) inset, 0 1px 3px rgba(0,0,0,0.1);
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
    /* triggers hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
}
#openMap:hover {
    opacity: 1;
}


@media only screen and (max-width: 480px) {
    body {
        background: #FFF;
    }
    #openMap, #map, #mapOverlay {
        display: none;
    }
    #main {
        position: static;
        width: auto;
        height: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}



.ie7 #main {
    position: relative;
    margin: 20% auto 0 auto;
}
.ie7 #linksPane a {
    height: 29px;
    text-indent: 0;
    padding-left: 40px;
    width: 293px;
}